@import (reference) '../general/theme';

.account-page {
	.account-header {
		background: none;
		height: auto;
		padding: 13px 50px;

		img {
			width: 270px;
		}
	}

	.app-content {
		padding: 0;
	}

	.account-wrapper {
		background: #fff;
		padding: 20px 50px;

		.ant-breadcrumb {
			margin: 0 5px 16px;
		}

		.inner {
			background: #fff;

			.inner-content {
				padding-left: 40px;

				> .ant-space {
					width: 100%;
				}
			}
		}
	}
}

.ant-popover-message > .anticon {
	color: @red-5;
}
